<!-- profiles/templates/profiles/profile_edit.html -->

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Edit Profile - {{ user.username }}
{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit Profile</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}  <!-- Using Crispy Forms for better styling -->
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
    <a href="{% url 'profile' %}" class="btn btn-secondary mt-3">Cancel</a>
</div>
{% endblock %}
