/* static/css/allauth.css */

/* Center the page title on the background */
.allauth-header-content {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

/* Style for the page title */
.allauth-hero-title {
    color: white; 
    font-size: 48px; 
    font-weight: bold; 
    text-transform: uppercase; 
    z-index: 2; 
}

.text-primary {
    text-decoration: none;
}

.home-btn {
    border-radius: 0;
    transition: background-color 0.3s ease;
    border: none;
    border: 1px solid black;
    height: 40px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    margin-left: 10px;
}

@media (max-width: 991.98px) {
        .hero-content,
        .allauth-header-content,
        .hero-title,
        .breadcrumb-container {
            display: none !important;
        }
    }