/* static/css/base.css */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('header.css');
@import url('footer.css');
@import url('responsive.css');


/* General styles */

/* Reset default margin, padding, and border for all elements */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f8f8f8;
  font: 15px/1.6 'Lato';
  color: #444444;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  background-color: transparent !important;
  border: none !important;
}

a {
  line-height: inherit;
  vertical-align: middle;
}

/* Styling for the breadcrumb navigation */
.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
    color: #ffffff;
    display: inline-block;
}

/* White arrow divider between breadcrumb items */
.breadcrumb-item + .breadcrumb-item::before {
    color: #ffffff;
}

/* White text color for breadcrumb links */
.breadcrumb-item a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.breadcrumb-item, .breadcrumb-item a {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5; /* Убедись, что это значение соответствует общей высоте текста */
}

/* White color for the active breadcrumb item */
.breadcrumb-item.active {
    color: #ffffff;
}

.breadcrumb-item a:hover {
    text-decoration: underline; /* Add underline only on hover */
}