<!-- templates/includes/header.html -->

{% load static %}

<!-- Header section -->
<header class="{% block header_class %}header{% endblock %}">
    <!-- Transparent overlay -->
    <div class="header-overlay"></div>

    <!-- Top bar -->
    <div class="d-flex justify-content-between align-items-center py-2 ms-3 me-3 header-top-bar" id="top-bar">
        <!-- Phone -->
        <div class="d-flex align-items-center flex-shrink-0 ms-3 header-top-item">
            <span class="me-3 d-none d-md-block">
                <i class="fas fa-phone-square"></i> Phone: 755 302 8549
            </span>
        </div>

        <!-- Email -->
        <div class="d-flex align-items-center flex-shrink-0 ms-3 header-top-item" id="email-align">
            <a href="mailto:support@yachtsescape.com" class="email-link"><i class="fas fa-envelope"></i>Email:
                support@yachtsescape.com</a>
        </div>

        <!-- Social Media -->
        <div class="d-flex align-items-center justify-content-end ms-auto">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="text-white" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="text-white" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="text-white" href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="text-white" href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Main navigation section -->
    <div class="navbar navbar-expand-lg header-main" id="main-nav">
        <!-- Brand logo -->
        <div class="d-flex align-items-center">
            <a class="" href="#" aria-label="Homepage">
                <img class="normal-logo img-fluid" id="logo" src="{% static 'images/logo-light.png' %}"
                    data-light-logo="{% static 'images/logo-light.png' %}"
                    data-dark-logo="{% static 'images/logo-dark.png' %}"
                    data-small-light-logo="{% static 'images/logo-light-small.png' %}" 
                    data-small-dark-logo="{% static 'images/logo-dark-small.png' %}" alt="logo" />
            </a>
        </div>

        <!-- Navigation toggler button (for mobile menu) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Offcanvas menu -->
        <div class="offcanvas offcanvas-end text-center" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header justify-content-between">
                <h5 class="offcanvas-title flex-grow-1 text-center" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-label="Home Page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-label="Profile Page">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-label="Log In Page">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" aria-label="Our Fleet Page">Our Fleet</a>
                    </li>
                    <li class="nav-item"></li>
                    <a class="nav-link" href="#" aria-label="About Us Page">About us</a>
                    </li>
                    <!-- "Book Now" button -->
                    <button class="btn btn-sm header-main-btn">Book Now</button>
                </ul>

            </div>
        </div>
    </div>
</header>