<!-- templates/includes/header.html -->

{% load static %}

<!-- Header section -->
<!-- class="{% block header_class %}{% if request.path == '/yachts/' %}yacht-header{% else %}header{% endif %}{% endblock %}" -->
<header class="{% if request.path == '/' %}header{% else %}header-short{% endif %}">

    <!-- Transparent overlay -->
    <div class="header-overlay"></div>

    <!-- Top bar -->
    <div class="d-flex justify-content-between align-items-center py-2 ms-3 me-3 header-top-bar" id="top-bar">
        <!-- Phone -->
        <div class="d-flex align-items-center flex-shrink-0 ms-3 header-top-item">
            <span class="me-3 d-none d-md-block">
                <i class="fas fa-phone-square"></i> Phone: 755 302 8549
            </span>
        </div>

        <!-- Email -->
        <div class="d-flex align-items-center flex-shrink-0 ms-3 header-top-item" id="email-align">
            <a href="mailto:support@yachtsescape.com" class="email-link"><i class="fas fa-envelope"></i>Email:
                support@yachtsescape.com</a>
        </div>

        <!-- Social Media -->
        <div class="d-flex align-items-center justify-content-end ms-auto">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="text-white" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="text-white" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="text-white" href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="text-white" href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Main navigation section -->
    <div class="navbar navbar-expand-lg header-main" id="main-nav">
        <!-- Brand logo -->
        <div class="d-flex align-items-center">
            <a href="{% url 'home' %}" aria-label="Homepage">
                <img class="normal-logo img-fluid" id="logo" src="{% static 'images/logo-light.png' %}"
                    data-light-logo="{% static 'images/logo-light.png' %}"
                    data-dark-logo="{% static 'images/logo-dark.png' %}"
                    data-small-light-logo="{% static 'images/logo-light-small.png' %}"
                    data-small-dark-logo="{% static 'images/logo-dark-small.png' %}" alt="logo" />
            </a>
        </div>

        <!-- Navigation toggler button (for mobile menu) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Offcanvas menu -->
        <div class="offcanvas offcanvas-end text-center" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header justify-content-between">
                <h5 class="offcanvas-title flex-grow-1 text-center" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}"
                            href="{% url 'home' %}">Home</a>
                    </li>

                    <!-- Conditional Menu Based on User Authentication Status -->
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if request.path == '/your-profile-url/' %}active{% endif %}"
                            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                            My Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- Admin option first -->
                            {% if user.is_superuser or user.is_staff %}
                            <li><a class="dropdown-item" href="#">Yachts Management</a></li>
                            {% endif %}
                            <!-- Profile and Logout for authenticated users -->
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/accounts/login/' %}active{% endif %}"
                            href="{% url 'account_login' %}" aria-label="Log In Page">Log In</a>
                    </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if '/yachts/' in request.path %}active{% endif %}"
                            href="#" id="yachtTypeDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Our Fleet
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="yachtTypeDropdown">
                            <li><a class="dropdown-item" href="{% url 'yacht_list' %}">All Yachts</a></li>
                            <li><a class="dropdown-item" href="{% url 'yacht_list' %}?type=Leisure">Leisure</a></li>
                            <li><a class="dropdown-item" href="{% url 'yacht_list' %}?type=Fishing">Fishing</a></li>
                            <li><a class="dropdown-item"
                                    href="{% url 'yacht_list' %}?type=Celebrations">Celebrations</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}"
                            aria-label="About Us Page">
                            About us
                        </a>
                    </li>

                    <!-- "Book Now" button -->
                    <button class="btn btn-sm header-main-btn" data-bs-toggle="modal"
                        data-bs-target="#bookNowModal">Book Now</button>

                    <!-- Book Now Modal -->
                    <div class="modal fade" id="bookNowModal" tabindex="-1" aria-labelledby="bookNowModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="bookNowModalLabel">Booking Form</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="bookingForm" action="{% url 'yacht_list' %}" method="GET">
                                        <div class="mb-3">
                                            <label for="boatType" class="form-label">Select Boat Type</label>
                                            <select id="boatType" name="type" class="form-select">
                                                <option value="">Any Type</option>
                                                <option value="celebrations">Celebrations</option>
                                                <option value="fishing">Fishing</option>
                                                <option value="leisure">Leisure</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="capacity" class="form-label">Select Capacity</label>
                                            <select id="capacity" name="capacity" class="form-select">
                                                <option value="">Any Capacity</option>
                                                <option value="2-4">Up to 4</option>
                                                <option value="4-6">4-6</option>
                                                <option value="6-8">6-8</option>
                                                <option value="8_plus">More than 8</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="startDate" class="form-label">Start Date</label>
                                            <input type="date" id="startDate" name="start_date" class="form-control"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="endDate" class="form-label">End Date</label>
                                            <input type="date" id="endDate" name="end_date" class="form-control"
                                                required>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</header>