/* Center the page title on the background */
.about-content {
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

/* Style for the page title */
.about-title {
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 2;
}

/* Styles for the accordion buttons */
.accordion-button {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    color: #333;
}

.accordion-button:hover {
    background-color: #e2e6ea;
}

/* Styles for the accordion body */
.accordion-body {
    background-color: #ffffff;
    color: #666;
}

/* Styles for the diploma images in the diploma section */
.diploma-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Style for the comment form */
.comment-form {
    margin-top: 30px;
}

.comment-form h3 {
    margin-bottom: 15px;
}

/* Style for registration warning text */
.registration-warning {
    color: #dc3545;
    font-weight: bold;
    margin-top: 20px;
}

.feedback-btn {
    display: inline-flex; /* Allows flex properties like align-items and justify-content to work */
    background-color: #088cdc;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    border: none;
    height: 40px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none !important;
    padding: 0 20px;
    height: 40px !important;
    width: auto;
    cursor: pointer;
}
.feedback-btn:hover {
    background-color: #006bb3;
}

.user-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating .fa-star {
    color: #ddd;
}

.rating .fa-star.filled {
    color: #ffd700;
}

.rating {
    color: gold;
}