<!-- templates/allauth/account/logout.html -->

<!-- templates/allauth/account/logout.html -->

{% extends "base.html" %}
{% load static %}

{% load account %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/allauth.css' %}">
{% endblock %}

{% block title %}
Sign Out
{% endblock %}

{% block content %}
<div class="container">
    <!-- Header section with title -->
    <div class="allauth-header-content">
        <h1 class="allauth-hero-title">Sign Out</h1>
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item">Sign Out</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container mt-4">
   <!-- Confirmation message for signing out -->
   <p class="text-center text-muted mb-4">
       Are you sure you want to sign out?
   </p>

    <!-- Logout form -->
    <form class="text-center" method="POST" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ redirect_field }}

        <!-- Buttons: Sign Out and Cancel -->
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-secondary base-btn add-btn me-2" href="{% url 'home' %}">Cancel</a>
            <button type="submit" class="base-btn delete-btn">Sign Out</button>
        </div>
    </form>
</div>

{% endblock %}