<!-- templates/allauth/account/signup.html -->

{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load allauth %}
{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/allauth.css' %}">
<style>
    .text-red {
        color: red; /* Color for error messages */
    }

    .text-gray {
        color: gray; /* Color for valid messages */
    }

    .is-invalid {
        border-color: red; /* Change the border color of invalid inputs */
    }
</style>
{% endblock %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<div class="container">
    <!-- Header section with title -->
    <div class="allauth-header-content text-center">
        <h1 class="allauth-hero-title">{% trans "Sign Up" %}</h1>
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'account_login' %}">Sign In</a></li>
                    <li class="breadcrumb-item">Sign Up</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container mt-4">
    <!-- Introductory text with link to login -->
    <p class="text-center text-muted mb-4">
        {% trans "Already have an account? Then please" %}
        <a href="{% url 'account_login' %}" class="text-primary font-weight-bold align-top">{% trans "sign in" %}</a>.
    </p>

    <!-- Signup form -->
    <form method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-10 col-12">
                    <!-- Form fields with customized Bootstrap classes -->
                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-user"></i> Username <span class="text-danger">*</span>
                        </label>
                        {{ form.username|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.first_name.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-user"></i> First Name <span class="text-danger">*</span>
                        </label>
                        {{ form.first_name|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.last_name.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-user"></i> Last Name <span class="text-danger">*</span>
                        </label>
                        {{ form.last_name|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-envelope"></i> Email Address <span class="text-danger">*</span>
                        </label>
                        {{ form.email|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password1.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-lock"></i> Password <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            {{ form.password1|add_class:"form-control" }}
                            <span class="input-group-text password-toggle">
                                <i id="password-icon-register" class="fa-regular fa-eye"></i>
                            </span>
                        </div>
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            Your password must contain:
                            <ul id="passwordValidationList" class="list-unstyled">
                                <li id="lengthRequirement" class="text-red">At least 8 characters</li>
                                <li id="uppercaseRequirement" class="text-red">At least one uppercase letter</li>
                                <li id="numberRequirement" class="text-red">At least one number</li>
                            </ul>
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password2.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-lock"></i> Confirm Password <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            {{ form.password2|add_class:"form-control" }}
                            <span class="input-group-text password-toggle">
                                <i id="confirm-password-icon-register" class="fa-regular fa-eye"></i>
                            </span>
                        </div>
                        <div id="confirmPasswordError" class="text-red"></div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.phone_number.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-phone"></i> Phone Number
                        </label>
                        {{ form.phone_number|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.street_address1.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-map-marker-alt"></i> Street Address 1 <span class="text-danger">*</span>
                        </label>
                        {{ form.street_address1|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.street_address2.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-map-marker-alt"></i> Street Address 2
                        </label>
                        {{ form.street_address2|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.town_city.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-city"></i> Town or City <span class="text-danger">*</span>
                        </label>
                        {{ form.town_city|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.county_state.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-map-signs"></i> County, State or Locality
                        </label>
                        {{ form.county_state|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.postal_code.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-mail-bulk"></i> Postal Code
                        </label>
                        {{ form.postal_code|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.country.id_for_label }}" class="form-label fw-bold">
                            <i class="fas fa-flag"></i> Country <span class="text-danger">*</span>
                        </label>
                        {{ form.country|add_class:"form-control" }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit button with enhanced styling -->
        <div class="container text-center mt-3 mb-3">
            <button type="submit" class="btn btn-primary header-main-btn py-2 px-4">
                <i class="fas fa-user-plus me-2"></i>{% trans "Sign Up" %}
            </button>
        </div>
        <div class="text-muted mb-3 text-center">
            <small><i class="fas fa-asterisk text-danger"></i> Fields marked with an asterisk are required.</small>
        </div>
    </form>
</div>

{% if form.errors %}
<!-- Toasts container for displaying errors at the top center -->
<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1055;">
    <div class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true"
        data-bs-autohide="false">
        <div class="d-flex">
            <div class="toast-body">
                <strong>{% trans "Form Errors:" %}</strong>
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <button type="button" class="base-btn" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var toastEl = document.querySelector('.toast');
        var toast = new bootstrap.Toast(toastEl);
        toast.show(); // Show the toast when there are form errors
    });
</script>

{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const passwordField = document.querySelector('#{{ form.password1.id_for_label }}');
        const confirmPasswordField = document.querySelector('#{{ form.password2.id_for_label }}');
        const confirmPasswordError = document.getElementById('confirmPasswordError');
        const lengthRequirement = document.getElementById('lengthRequirement');
        const uppercaseRequirement = document.getElementById('uppercaseRequirement');
        const numberRequirement = document.getElementById('numberRequirement');

        lengthRequirement.classList.add('text-red');
        uppercaseRequirement.classList.add('text-red');
        numberRequirement.classList.add('text-red');

        function validatePassword() {
            const password = passwordField.value;
            let isValid = true;

            lengthRequirement.classList.remove('text-gray');
            uppercaseRequirement.classList.remove('text-gray');
            numberRequirement.classList.remove('text-gray');

            if (password.length >= 8) {
                lengthRequirement.classList.remove('text-red');
                lengthRequirement.classList.add('text-gray');
            } else {
                lengthRequirement.classList.add('text-red');
            }

            if (/[A-Z]/.test(password)) {
                uppercaseRequirement.classList.remove('text-red');
                uppercaseRequirement.classList.add('text-gray');
            } else {
                uppercaseRequirement.classList.add('text-red');
            }

            if (/\d/.test(password)) {
                numberRequirement.classList.remove('text-red');
                numberRequirement.classList.add('text-gray');
            } else {
                numberRequirement.classList.add('text-red');
            }

            isValid = password.length >= 8 && /[A-Z]/.test(password) && /\d/.test(password);
            if (isValid) {
                passwordField.classList.remove('is-invalid');
            } else {
                passwordField.classList.add('is-invalid');
            }
        }

        function validateConfirmPassword() {
            const password = passwordField.value;
            const confirmPassword = confirmPasswordField.value;

            if (password !== confirmPassword) {
                confirmPasswordError.innerText = 'Passwords do not match.';
                confirmPasswordField.classList.add('is-invalid');
            } else {
                confirmPasswordError.innerText = '';
                confirmPasswordField.classList.remove('is-invalid');
            }
        }

        passwordField.addEventListener('input', validatePassword);
        confirmPasswordField.addEventListener('input', validateConfirmPassword);

        const form = document.querySelector('form');
        form.addEventListener('submit', function (event) {
            validatePassword();
            validateConfirmPassword();
            if (passwordField.classList.contains('is-invalid') || confirmPasswordField.classList.contains('is-invalid')) {
                event.preventDefault();
            }
        });
    });
</script>

{% endblock %}
