<!-- yachts/templates/yachts/yacht-list.html -->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/yachts/yacht-list.css' %}">
{% endblock %}

{% block title %}
Our Fleet
{% endblock %}

{% block content %}
<div class="container">
    <!-- Title section in the header -->
    <div class="hero-content">
        <h1 class="hero-title">Our Fleet</h1>
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Our Fleet</li>
                </ol>
            </nav>
        </div>
    </div>

    <!-- Sorting section -->
    <section class="d-flex justify-content-between align-items-center mt-4">
        <!-- Location filter -->
        <div class="dropdown">
            <button class="btn dropdown-toggle custom-dropdown-btn" type="button" id="locationDropdown"
                data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" aria-label="Select location">
                Location
            </button>
            <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="locationDropdown">
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?country=Turkey">Turkey</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?country=France">France</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?country=Spain">Spain</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?location=Bodrum">Bodrum</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?location=Antibes">Antibes</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?location=Costa Brava">Costa Brava</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?location=Mallorca">Mallorca</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?location=Saint-Tropez">Saint-Tropez</a></li>
            </ul>
        </div>

        <!-- Capacity filter in the center -->
        <div class="dropdown mx-3 capacity-dropdown">
            <button class="btn dropdown-toggle custom-dropdown-btn" type="button" id="capacityDropdown"
                data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" aria-label="Select capacity">
                Capacity
            </button>
            <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="capacityDropdown">
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?capacity=2-8">Up to 8</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?capacity=8_plus">More than 8</a></li>
            </ul>
        </div>

        <!-- Sort by dropdown -->
        <div class="dropdown">
            <button class="btn dropdown-toggle custom-dropdown-btn" type="button" id="sortDropdown"
                data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" aria-label="Sort options">
                Sort by
            </button>
            <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="sortDropdown">
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?sort=price_low">Price: Low to High</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?sort=price_high">Price: High to Low</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?sort=rating_low">Rating: Low to High</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?sort=rating_high">Rating: High to Low</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?sort=name_az">Name: A-Z</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?sort=name_za">Name: Z-A</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?sort=type_az">Type: A-Z</a></li>
                <li><a class="dropdown-item" href="{% url 'yacht_list' %}?sort=type_za">Type: Z-A</a></li>
            </ul>
        </div>
    </section>
   

    <!-- Yacht card section -->
    <section class="row mt-5">
        {% for yacht in yachts %}
        <div class="col-md-4 mb-4" aria-label="Yacht: {{ yacht.name }}">
            <div class="card yacht-card h-100 shadow-sm">
                <div class="position-relative">
                    {% if yacht.card_image %}
                    <!-- Display yacht image if available -->
                    <img src="{{ yacht.card_image.url }}" class="card-img-top" alt="Image of {{ yacht.name }}">
                    {% else %}
                    <!-- Display placeholder image if no yacht image is available -->
                    <img src="{% static 'images/default-yacht.png' %}" class="card-img-top" alt="Placeholder image for yacht named {{ yacht.name }}">
                    {% endif %}

                    <!-- Rating overlay in the top-right corner -->
                    <div class="rating-overlay" aria-hidden="true">
                        {% for i in "12345" %}
                        {% if forloop.counter <= yacht.rating|default:0 %} <i class="fas fa-star filled"></i>
                            {% else %}
                            <i class="fas fa-star"></i>
                            {% endif %}
                            {% endfor %}
                    </div>
                </div>

                <div class="card-body">
                    <!-- Yacht name -->
                    <h2 class="card-title">{{ yacht.name }}</h2>

                    <!-- Yacht price and Yacht location -->
                    <div class="price-location">
                        <p class="card-price">
                            ${{ yacht.price_per_day }} <span class="text-muted">Per Day</span>
                        </p>
                        <p class="location">
                            <i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ yacht.location }}
                        </p>
                    </div>
                    <!-- Yacht details -->
                    <ul class="list-inline yacht-details">
                        <li class="list-inline-item detail-item"><i class="fas fa-users" aria-hidden="true"></i> {{ yacht.capacity }} Guests</li>
                        <li class="list-inline-item detail-item"><i class="fas fa-bed" aria-hidden="true"></i> 2 Master Bedroom</li>
                        <li class="list-inline-item detail-item"><i class="fas fa-ruler-combined" aria-hidden="true"></i> 44 Feet</li>
                        <li class="list-inline-item detail-item"><i class="fas fa-utensils" aria-hidden="true"></i> Fully Equipped Kitchen</li>
                    </ul>

                    <!-- Button to read more -->
                    <a href="{% url 'yacht_detail' yacht.id %}" class="btn btn-primary w-100" aria-label="View details for {{ yacht.name }}">VIEW DETAILS</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}