<!-- yachts/templates/yachts/yacht-list.html -->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/yachts/yacht-list.css' %}">
{% endblock %}

{% block title %}
Our Fleet
{% endblock %}

{% block content %}
<div class="container">
    <!-- Title section in the header -->
    <div class="header-content">
        <h1 class="hero-title">Our Fleet</h1>
    </div>

    <!-- Yacht card section -->
    <div class="row mt-5">
    {% for yacht in yachts %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if yacht.image %}
                    <!-- Display yacht image if available -->
                    <img src="{{ yacht.image.url }}" class="card-img-top" alt="{{ yacht.name }}">
                {% else %}
                    <!-- Display placeholder image if no yacht image is available -->
                    <img src="{% static 'images/default-yacht.png' %}" class="card-img-top" alt="{{ yacht.name }}">
                {% endif %}
                <div class="card-body">
                    <!-- Display yacht name and price -->
                    <h5 class="card-title">{{ yacht.name }}</h5>
                    <p class="card-text">Price: ${{ yacht.price_per_day }} / per day</p>
                    <a href="{% url 'yacht_detail' yacht.id %}" class="btn btn-primary">Read More</a> <!-- Link to detailed yacht page -->
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}