{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <!-- Flatpickr v4 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <link rel="stylesheet" href="{% static 'css/yachts/yacht-list.css' %}">
{% endblock %}

{% block title %}
Our Fleet - {{ yacht.name }} details
{% endblock %}

{% block content %}
<div class="container text-center">
    <!-- Title section in the header -->
    <div class="hero-content">
        <h1 class="hero-title">{{ yacht.name }}</h1>
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'yacht_list' %}">Our Fleet</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ yacht.name }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Display yacht details -->
    <p class="lead mt-4">{{ yacht.description }}</p>
    <ul class="yacht-attributes-row">
        <li><i class="fas fa-ship"></i> <strong>Type:</strong> {{ yacht.type }}</li>
        <li><i class="fas fa-star"></i> <strong>Rating:</strong> {{ yacht.rating }}</li>
        <li><i class="fas fa-id-card"></i> <strong>ID:</strong> {{ yacht.id }}</li>
    </ul>

    <!-- Yacht image carousel -->
    <div id="yachtGallery" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% if yacht.detail_image %}
                <div class="carousel-item active">
                    <img src="{{ yacht.detail_image.url }}" class="d-block w-100" alt="{{ yacht.name }}">
                </div>
            {% endif %}
            {% for image in yacht.get_detail_images %}
                {% if image != yacht.detail_image.url %}
                    <div class="carousel-item">
                        <img src="{{ image }}" class="d-block w-100" alt="{{ yacht.name }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#yachtGallery" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#yachtGallery" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <!-- Passing image data via a data attribute -->
    <div id="image-data" data-images='[
        {% for image in yacht.get_detail_images %}
            "{{ image }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    ]'></div>

    <ul class="yacht-attributes-row mt-3">
        <li><i class="fas fa-map-marker-alt"></i> <strong>Location:</strong> {{ yacht.location }}</li>
        <li><i class="fas fa-users"></i> <strong>Capacity:</strong> {{ yacht.capacity }}</li>
        <li><i class="fas fa-dollar-sign"></i> <strong>Price per day:</strong> ${{ yacht.price_per_day }}</li>
    </ul>

    <h2>Booked Dates:</h2>
    <ul class="date-list">
        {% for date in booked_dates|dictsort:"start" %}
        <li><i class="fas fa-calendar-alt"></i> From {{ date.start }} to {{ date.end }}</li>
        {% empty %}
        <li class="no-dates"><i class="fas fa-calendar-times"></i> No booked dates yet</li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <!-- Booking form for authenticated users -->
        <h2>Book This Yacht</h2>
        <form id="bookingForm" method="post" action="{% url 'booking_create' %}" class="text-start mt-4">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="dateRange" class="form-label"></label>
                    <input type="text" id="dateRange" name="date_range" class="form-control" placeholder="Select dates"
                        required>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary mb-4" onclick="handleFormSubmit(event)">Book Now</button>
            </div>
        </form>
    {% else %}
        <!-- Message for non-authenticated users -->
        <div class="alert alert-info mt-4" role="alert">
            <h3>To book this yacht, please <a href="{% url 'account_login' %}" class="text-primary font-weight-bold align-top">sign in</a> or <a href="{% url 'account_signup' %}" class="text-primary font-weight-bold align-top">create an account</a>.</h3>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
    <!-- Flatpickr v4 -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- JavaScript for processing images from the data attribute -->
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const imageDataElement = document.getElementById("image-data");
        
        // Check if the element exists
        if (!imageDataElement) {
            console.error("Element with id 'image-data' not found.");
            return;
        }
        
        // Get images from the data attribute
        const images = JSON.parse(imageDataElement.dataset.images); 
        console.log("Images array:", images);

        // Find the carousel container
        const imageContainer = document.querySelector("#yachtGallery .carousel-inner");

        // Check if the carousel container exists
        if (!imageContainer) {
            console.error("Carousel container not found.");
            return;
        }

        // Create carousel items for each image
        images.forEach((imageUrl, index) => {
            const carouselItem = document.createElement("div");
            carouselItem.className = `carousel-item ${index === 0 ? "active" : ""}`;
            carouselItem.innerHTML = `<img src="${imageUrl}" class="d-block w-100" alt="Yacht Image ${index + 1}">`;
            imageContainer.appendChild(carouselItem);
        });
    });
    </script>

    <script src="{% static 'js/yachts.js' %}"></script>

    <script>
        const stripePublicKey = "{{ stripe_public_key }}";
    </script>
{% endblock %}