<!-- about/templates/about/about.html -->

{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about/about.css' %}">
{% endblock %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="hero-content">
        <h1 class="hero-title">About Us</h1>
        <div class="breadcrumb-container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
        </div>
    </div>


    <!-- Section Title -->
    <h2 class="mt-5">Welcome to YachtsEscape.com</h2>
    <p class="lead">
        At YachtsEscape, we believe that every yacht experience should be unique and unforgettable. Our dedicated team
        of professionals is here to ensure that you find the perfect yacht for your adventures on the water. Whether
        you're seeking a relaxing getaway or an action-packed voyage, we have you covered. Explore our team, our
        history, and why you should choose us for your next sailing journey!
    </p>

    <!-- Accordion for sections -->
    <div class="accordion" id="aboutAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTeam">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTeam"
                    aria-expanded="true" aria-controls="collapseTeam">
                    <i class="fas fa-users"></i>&nbsp;Our Team
                </button>
            </h2>
            <div id="collapseTeam" class="accordion-collapse collapse show" aria-labelledby="headingTeam"
                data-bs-parent="#aboutAccordion">
                <div class="accordion-body">
                    <div class="d-flex align-items-center">
                        <img src="{% static 'images/yachtsescape-team.webp' %}" alt="Our Team" class="img-fluid me-3"
                            style="width: 150px; height: auto;" data-bs-toggle="modal" data-bs-target="#teamModal">
                        <div>
                            <p>We are a dedicated team of professionals who excel in finding the finest yachts at the
                                most attractive prices. Our experienced captains are here to make your holiday
                                unforgettable, ensuring that every moment on the water is filled with joy and adventure.
                                Trust our team to provide you with exceptional service and expertise in yacht rentals,
                                allowing you to create cherished memories in the beautiful Mediterranean.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingHistory">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseHistory" aria-expanded="false" aria-controls="collapseHistory">
                    <i class="fas fa-history"></i>&nbsp;Our History
                </button>
            </h2>
            <div id="collapseHistory" class="accordion-collapse collapse" aria-labelledby="headingHistory"
                data-bs-parent="#aboutAccordion">
                <div class="accordion-body">
                    <!-- Content for Our History -->
                    Our journey started in 2010, and we have been growing ever since. It all began when a few friends
                    decided that spending time on the water was way better than sitting in an office. Since then, we’ve
                    gathered a fantastic crew of yacht enthusiasts who know a thing or two about sailing and having a
                    good time.

                    Every year, we add more amazing yachts to our fleet—because why settle for one when you can have a
                    whole bunch? We’ve learned that every customer is unique, and we love figuring out what makes your
                    perfect adventure. Whether you want a relaxing getaway or an action-packed holiday, we’re here to
                    help you find just the right boat (and maybe a captain who knows how to mix a mean mojito).

                    So, if you’re ready to sail into the sunset (or just a really nice beach), come aboard! We promise
                    to make your experience as memorable as possible—just don’t ask us to sing sea shanties… unless you
                    really want to hear it!
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingWhyUs">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseWhyUs" aria-expanded="false" aria-controls="collapseWhyUs">
                    <i class="fas fa-thumbs-up"></i>&nbsp; Why Choose Us?
                </button>
            </h2>
            <div id="collapseWhyUs" class="accordion-collapse collapse" aria-labelledby="headingWhyUs"
                data-bs-parent="#aboutAccordion">
                <div class="accordion-body">
                    <!-- Content for Why Choose Us -->
                    Why Choose Us? Well, we like to think we’re not just your average yacht rental company. We offer
                    services that go above and beyond, all while keeping a smile on our faces (and hopefully yours
                    too!).

                    Our team is passionate about making your experience unforgettable, whether it’s finding the perfect
                    yacht for your needs or ensuring you have the best crew on board. We believe that customer
                    satisfaction isn’t just a buzzword—it’s our mission.

                    Plus, we know all the best spots to anchor, the tastiest local eats, and the secret beaches that
                    make for fantastic Instagram shots. So, if you want to avoid the usual tourist traps and sail like a
                    local, you’ve come to the right place!

                    Let’s be honest, you could choose anyone to help with your yacht adventures, but with us, you get a
                    crew that’s genuinely excited to share their love for the sea. Ready to set sail? We’re just a click
                    away!
                </div>
            </div>
        </div>
    </div>

    <!-- Diploma images section -->
    <h2 class="mt-5 mb-4">Our Achievements</h2>
    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'images/diploma1.webp' %}" alt="Diploma 1" class="diploma-img" data-bs-toggle="modal"
                data-bs-target="#diplomaModal1">
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/diploma2.jpg' %}" alt="Diploma 2" class="diploma-img" data-bs-toggle="modal"
                data-bs-target="#diplomaModal2">
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/diploma3.jpg' %}" alt="Diploma 3" class="diploma-img" data-bs-toggle="modal"
                data-bs-target="#diplomaModal3">
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/diploma4.jpg' %}" alt="Diploma 4" class="diploma-img" data-bs-toggle="modal"
                data-bs-target="#diplomaModal4">
        </div>
    </div>


    <!-- British Credentials Section -->
    <h2 class="mt-5 mb-4">Our Credentials</h2>
    <div class="credentials">
        <p>At YachtsEscape, we take pride in our professional credentials and adherence to the highest standards in the
            yacht rental industry...</p>
        <p><strong>Address:</strong> YachtsEscape Ltd., 123 Ocean Drive, Cardiff, Wales, CF10 1AA, United Kingdom</p>
        <p><strong>Banking Details:</strong></p>
        <p><strong>Account Name:</strong> YachtsEscape Ltd.<br>
            <strong>Account Number:</strong> 12345678<br>
            <strong>Sort Code:</strong> 12-34-56<br>
            <strong>IBAN:</strong> GB29NWBK12345612345678<br>
            <strong>SWIFT/BIC:</strong> NWBKGB2L
        </p>
    </div>

    <!-- Comment form section -->
    <h2 class="mt-5">Leave a Comment</h2>
    <div class="registration-warning">
        Only registered users can leave comments.
    </div>
    <div class="comment-form">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3 text-center">
                <div class="col-md-6 col-12 mx-auto">
                    <textarea class="form-control" name="content" rows="4" required
                        placeholder="Write your comment here..."></textarea>
                </div>
            </div>
            <div class="mb-3 text-center">
                <label for="rating" class="form-label">Rate Yachtsescape.com services:</label>
                <div class="d-flex justify-content-center">
                    <select class="form-select w-25 w-md-50 w-lg-25" name="rating" required>
                        <option value="" disabled selected>Select your rating</option>
                        <option value="1">1 - Poor</option>
                        <option value="2">2 - Fair</option>
                        <option value="3">3 - Good</option>
                        <option value="4">4 - Very Good</option>
                        <option value="5">5 - Excellent</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-3 header-main-btn">Submit</button>
        </form>
    </div>

    <!-- Displaying reviews -->
    <!-- <h2 class="mt-4">User Reviews</h2> -->
    <div class="reviews">
        {% for review in reviews %}
        <div class="card mb-3">
            <div class="card-body">
                <!-- Top row with icon, username, helpful button, and rating -->
                <div class="d-flex justify-content-between align-items-center">
                    <!-- User icon and name on the left -->
                    <div class="d-flex align-items-center">
                        <i class="fas fa-user-circle fa-lg me-2"></i> <!-- User icon -->
                        <h5 class="card-title mb-0">{{ review.user.username }}</h5>
                    </div>
                    <div class="helpful-section text-center">
                        <span class="text-muted small">{{ review.created_at|date:"d F Y, H:i" }}</span>
                    </div>


                    <!-- Helpful button in the center -->
                    <!-- <div class="helpful-section text-center">
                        <button class="btn btn-sm btn-outline-success mark-helpful" data-id="{{ review.id }}"
                            aria-label="Mark as Helpful">
                            <i class="fas fa-thumbs-up"></i>
                            <span class="helpful-count">{{ review.helpful_count }}</span> users found this helpful
                        </button>
                    </div> -->

                    <!-- Rating section on the right with text and stars -->
                    <div class="d-flex align-items-center">
                        <div class="rating-text me-2">User’s rating for Yachtsescape.com:</div>
                        <div class="rating">
                            {% for i in "12345" %}
                            {% if forloop.counter <= review.rating|default:0 %} <i class="fas fa-star filled"></i>
                                {% else %}
                                <i class="fas fa-star"></i>
                                {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Review content text with left alignment -->
                <p class="card-text text-start mt-3">{{ review.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Modal for enlarged image of our team -->
<div class="modal fade" id="teamModal" tabindex="-1" aria-labelledby="teamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teamModalLabel">Our Team</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{% static 'images/yachtsescape-team.webp' %}" alt="Our Team" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<!-- Modals for enlarged diploma images -->
<div class="modal fade" id="diplomaModal1" tabindex="-1" aria-labelledby="diplomaModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="diplomaModal1Label">Diploma 1</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{% static 'images/diploma1.webp' %}" alt="Diploma 1" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="diplomaModal2" tabindex="-1" aria-labelledby="diplomaModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="diplomaModal2Label">Diploma 2</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{% static 'images/diploma2.jpg' %}" alt="Diploma 2" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="diplomaModal3" tabindex="-1" aria-labelledby="diplomaModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="diplomaModal3Label">Diploma 3</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{% static 'images/diploma3.jpg' %}" alt="Diploma 3" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="diplomaModal4" tabindex="-1" aria-labelledby="diplomaModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="diplomaModal4Label">Diploma 4</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{% static 'images/diploma4.jpg' %}" alt="Diploma 4" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/about.js' %}"></script>
{% endblock %}